<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{Layout/default}">
<head>
  <title>Content page 3</title>
</head>
<body>
  <section layout:fragment="content">
    <table>
		<!--<tr th:if="${users.empty}">
            <td colspan="2"> No Data Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.name}"> Title </span></td>
            <td><span th:text="${user.idx}"> Author </span></td>
	    </tr>-->
		</tr>
	</table>
  </section>
</body>
</html>